#profile-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 45vw;
  top: 10vh;
  height: 84vh;
  left: 3vw;
  justify-content: space-between;
  align-items: center;
  border: 2pt solid #007bff;
  overflow: scroll;
}

#body-container {
  margin: 10px;
}

#centered-container {
  text-align: center;
}

#loading-profile-container {
  width: 45vw;
  height: 84vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#loading-profile-title {
  text-align: center;
  font-size: 100%;
  max-width: 90%;
}

#loading-profile-logo {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 55%;
}

#loading-profile-p {
  font-size: 3vmin;
}

#logo-container {
  text-align: center;
  display: block;
}

#map-container {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 51vw;
  top: 10vh;
  width: 45vw;
  height: 84vh;
  border: 2pt solid #007bff;
}

.form-header-profile {
  margin-top: 20px;
  text-align: center;
}

#day {
  float: left;
}

#hoursOpen {
  min-width: 150px;
  float: right;
}

#openAP {
  float: left;
}

#hoursClose {
  min-width: 150px;
  float: left;
}

#closeAP {
    float: left;
}

#editing-buttons {
  display: flex;
  justify-content: space-between;
}

.editing-button {
  width: 48%;
}