#landing-page-header {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  padding: 0;
  height: 11vh;
  justify-content: space-between;
  align-items: center;
}

#the-title {
  font-size: 20pt;
  color: black;
  transition: all linear .2s;
}

#the-title:hover {
  text-decoration: none;
  color: #9c9c9c;
}

#landing-page-links {
  display: flex;
  justify-content: space-between;
}

#landing-page-links a {
  color: black;
  transition: all linear .2s;
  margin-left: 25px;
}

#landing-page-links a:hover {
  text-decoration: none;
  color: #9c9c9c;
}

.landing-nav-selected {
  color: #9c9c9c !important;
}