#landing-page-header {
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
  padding: 0;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

#the-title {
  font-size: 20pt;
  color: var(--light);
  transition: all linear .2s;
}

#the-title:hover {
  text-decoration: none;
  color: var(--light-hover);
}

#landing-page-links {
  display: flex;
  justify-content: space-between;
}

#landing-page-links a {
  color: var(--light);
  transition: all linear .2s;
  margin-left: 25px;
}

#landing-page-links a:hover {
  text-decoration: none;
  color: var(--light-hover);
}

.landing-nav-selected {
  color: var(--light-hover) !important;
}