#landing-page-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-page-display img {
  height: auto;
  width: auto;
  margin-bottom: 10px;
  filter: contrast(120%) brightness(80%);
}

#landing-page-display-text {
  margin-bottom: 10px;
  color: var(--light);
}

#linked-in {
  width: 32px;
  height: auto;
}

.link-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin: 10px;
}

.member-bio {
  width: 90%;
  text-align: justify;
}

.image-crop {
  width: 300px;
  height: 300px;
  display: flex;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.3);
}

.image-crop img {
  display: inline;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}