#landing-page-display {
  display: flex;
  flex-direction: column;
  background-color: #9c9c9c;
  margin-left: 8%;
  margin-right: 8%;
  border-radius: 10px;
  align-items: center;
  padding: 30px;
}

#landing-page-display img {
  height: auto;
  width: auto;
  margin-bottom: 50px;
}