
@media screen and (min-width: 1000px) {
  #landing-page-header {
    display: flex;
    margin-left: 8%;
    margin-right: 8%;
    padding: 0;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
  }
}

#the-title {
  font-size: 20pt;
  color: var(--light);
  transition: all linear .2s;
}

#the-title:hover {
  text-decoration: none;
  color: var(--light-hover);
}

#landing-page-links {
  display: flex;
  justify-content: space-between;
}

#landing-page-links a {
  color: var(--light);
  transition: all linear .2s !important;
  margin-left: 25px !important;
  align-items: right !important;
}

#landing-page-links a:hover {
  text-decoration: none !important;
  color: var(--light-hover);
}

.navbar-collapse {
  background-color: black;
}

.navbar-nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navbar-nav a {
  padding: 5px;
  border-bottom: var(--light) !important;
  border-bottom-width: 2px !important;
}

.landing-nav-selected {
  color: var(--light-hover) !important;
}