#login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#login-card {
  display: flex;
  padding: 30px;
  margin: 10px;
  width: 30rem;
  background-color: var(--light);
  color: var(--dark);
  justify-content: space-between;
}

#login-card .btn {
  background-color: var(--dark);
  color: var(--light);
  border-color: var(--light);
}

#login-card p {
  margin: 0.5rem;
}

#login-card .btn:hover {
  background-color: var(--dark-hover);
}

.form {
  text-align: left;
}

.form-header {
  text-align: center;
  border: none;
  margin-bottom: 1.3rem;
  font-size: 18pt;
}

#login-links {
  text-align: center;
}

.login-link {
  color: #007bff;
}

.login-link:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}