.single-team-member {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.single-team-member h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.single-team-member p {
  margin-top: 15px;
}

.single-team-member ul {
  list-style: none;
}

.single-team-member li {
  padding-top: 2px;
}

#landing-page-display {
  text-align: center;
}

#landing-page-display p {
  margin-bottom: 0.5rem;
}

.github {
  filter: invert(1);
}