#reg-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#reg-card {
    display: flex;
    padding: 20px;
    margin: 10px;
}

.form-header-reg {
    text-align: center;
}
