#reg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('/../images/background-radii.png');
  background-size: 125px 70px;
  margin-top: auto;
  margin-bottom: auto;
}

#reg-card {
  display: flex;
  padding: 30px;
  margin: 10px;
  width: 30rem;
  background-color: var(--white);
  color: var(--black);
  justify-content: space-between;
}

  @media screen and (max-width: 500px) {
    #reg-card {
      width: 70%;
    }
  }

#reg-card .btn {
    background-color: var(--black);
    color: white;
    border-color: var(--black);
}

#reg-card .btn:hover {
    background-color: var(--dark-hover);
    border-color: var(--dark-hover);
}

#description {
  color: white;
}

.form-header-reg {
    text-align: center;
    border: none;
    margin-bottom: 1.3rem;
    font-size: 18pt;
  }

.input-box {
    color: black !important;
}

#already-account {
    color: var(--white);
}

#already-account a {
    color: var(--light);
}