.img-asset {
  max-width: 300px;
  max-height: 250px;
  margin: 20px;
}

#img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  width: 80vw;
  margin-bottom: 2vh;
}

#assets-page {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: turquoise;
}

#progress-bar-container {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 80vw;
  margin: 10px;
}

#hub-content {
  overflow-y: hidden;
}