rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

  	match /businesses/{userId}{
    	// Allow everyone to read information from business
      allow read;
      // for users that have a business, allow update, delete their own
      allow update, delete: if request.auth != null && request.auth.uid == userId;
      // for users that are authenticated but don't have an entry in the database, allow create
      allow create: if request.auth != null;
    }

    match /customer/{userId}{
    	// for customers, allow update, delete their own
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      // for users that are authenticated but don't have an entry in the database, allow create
      allow create: if request.auth != null;
    }

    match /queues/{userId}{
    	// Allow everyone to read information from queue
      allow read;
      // for users that have a profile, allow update
      allow update: if request.auth != null;
      // for users that are authenticated but don't have an entry in the database, allow create
      allow create: if request.auth != null;
    }
  }
}