#hub-content {
  height: 94vh;
}

#sign-out-button {
  height: 5vh;
  top: 0.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#whole-hub {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--black);
}

#hub-nav {
  height: 6vh;
}

.active {
  pointer-events: none;
  cursor: default;
}