#profile-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 38vw;
  top: 10vh;
  height: 84vh;
  left: 7vw;
  justify-content: space-between;
  align-items: center;
  border: 2pt solid #007bff;
}

#map-container {
  position: absolute;
  left: 47vw;
  top: 10vh;
  width: 45vw;
  height: 84vh;
  border: 2pt solid #007bff;
}

.form-header-profile {
  margin-top: 20px;
  text-align: center;
}

#day {
  float: left;
}

#hoursOpen {
  min-width: 150px;
  float: right;
}

#openAP {
  float: left;
}

#hoursClose {
  min-width: 150px;
  float: left;
}

#closeAP {
    float: left;
}


