#profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#profile-card {
    display: flex;
    padding: 20px;
    margin: 10px;
    min-width: 750px;
}

.form-header-profile {
    text-align: center;
}

#hoursOpen {
    min-width: 150px;
}

#hoursClose {
    min-width: 150px;
}

#day {
    min-width: 150px;
}
