#queue-party-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5pt;
  height: 100%;
  max-width: 100%;
}

#queue-card {
  text-align: center;
  border: 2pt solid #007bff;
  position: absolute;
  bottom: 0.5vh;
  top: 15vh;
  left: 0.5vw;
  width: 60.5vw;
  
}

#queue {
  width: 100%;
  border-bottom: none;
  overflow: scroll;
}

#party-card {
  border: 2pt solid #007bff;
  position: absolute;
  bottom: 0.5vh;
  top: 15vh;
  right: 0.5vw;
  width: 38vw;
  overflow: scroll;
}

.list-group-item .row {
  align-items: center;
}

.queue-entry:hover {
  cursor: pointer;
}

#add-customer-button {
  margin: 3px;
}