#control-group-card {
  border: 2pt solid #007bff;
  position: absolute;
  top: 10vh;
  right: 4vw;
  width: 38vw;
  bottom: 65.5vh;
  overflow: scroll;
}

#add-customer-button {
  margin: 5px; 
}

#control-button-group {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

#clear-button {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 30%;
}

#open-close-buttons {
  margin-bottom: 10px;
  width: 60%;
}

#control-message-button {
  width: 100%;
}

#messanger {
  width: 100%;
}

.card-header {
  border-radius: 0 !important;
  background-color: #dadada !important;
}

#default-container {
  border: 2pt solid #007bff;
  position: absolute;
  text-align: center;
  left: 4vw;
  width: 90vw;
  bottom: 4vh;
  top: 6.5vh;
}

#queue-card {
  text-align: center;
  border: 2pt solid #007bff;
  position: absolute;
  bottom: 4vh;
  top: 10vh;
  left: 4vw;
  width: 53vw;
}

#queue {
  width: 100%;
  border-bottom: none;
  overflow: scroll;
}

#party-card {
  border: 2pt solid #007bff;
  position: absolute;
  bottom: 4vh;
  top: 36vh;
  right: 4vw;
  width: 38vw;
  overflow: scroll;
}

#centered-container {
  text-align: center;
}

.list-group-item .row {
  align-items: center;
}

.queue-entry:hover {
  cursor: pointer;
}

.almost-width {
  width: calc(100% - 6px);
  margin: 3px;
}

.highlighted {
  background-color: #4a9bf3 !important;
  border-color: #4a9bf3 !important;
  color: #fafafa !important;
}

#no-party-selected-logo {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}