:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #24312c;
  --light: #eae5ee;
  --dark-hover: #3b2d3a;
  --light-hover: #d2ee58;
}

body {
  background-color: var(--dark);
  color: var(--light);
}