:root {
  --white: #C5C6C7;
  --black: #000000;
  --dark: #000000;
  --light: #45A29E;
  --dark-hover: #383838;
  --light-hover: #C5C6C7;
  --accent: #FF6338;
}

body {
  background-color: var(--dark);
  color: var(--light);
}