:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark: #000000;
  --light: #95a9ff;
  --dark-hover: #3b2d3a;
  --light-hover: #ffffff;
}

body {
  background-color: var(--dark);
  color: var(--light);
}